<form action="/teams" method="post">
  <h1>Create a Team of </h1>
  Superhero Team Name: <input type="text" name="superhero_team[name]">
  Superhero Team Motto: <input type="text" name="superhero[grade]">
  <input type="submit" id = 'Submit'>
</form>
